@font-face{
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-SemiBold.ttf');
  font-weight: bold;
}

@font-face{
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Italic.ttf');
  font-style: italic;
}

@font-face{
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Regular.ttf');
}

@font-face{
  font-family: 'Ubuntu Mono';
  src: url('fonts/UbuntuMono-Bold.ttf');
  font-weight: bold;
}

@font-face{
  font-family: 'Ubuntu Mono';
  src: url('fonts/UbuntuMono-Italic.ttf');
  font-style: italic;
}

@font-face{
  font-family: 'Ubuntu Mono';
  src: url('fonts/UbuntuMono-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face{
  font-family: 'Yanone Kaffeesatz';
  src: url('fonts/YanoneKaffeesatz-Regular.ttf');
  font-weight: normal;
}

.full{
  padding: 0;
}

/*SLIDES CSS*/
.remark-container {
  background: #000000;
}
.remark-slide-scaler{
  box-shadow: none;
}

.remark-slide-content{
  background-size: cover !important;
}

body { font-family: 'OpenSans'; }
p, li, li:before{
  font-size: 0.9em;
  line-height: 1.8em;
}

li li{
  font-size: 0.8em;
}

.center-text{
  text-align: center;
}

em{
  color: #777;
}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.dark{
  background: #252527;
  color: #fff
}

.has-subitle h1{
  line-height: 0;
  margin-bottom: 0.6em;
}
.has-subitle h1 + p{
  font-size: 0.9em;
  opacity: 0.6;
}